{% extends "home.html" %}

{% load static%}


{%block contenido %}
<p> Mesas PREMIUM </p>
<div class="contenidoMesas">
    <form class="formDataMesas" action="/DBweb_muebles/Mesa/" method="POST">
        {% csrf_token %}
        <input type="text" name="modelo" placeholder="Modelo">
        <input type="text" name="material" placeholder="Material">
        <input type="text" name="capacidadPersonas" placeholder="Capacidad Personas">
        <button type="submit" class="btn btn-primary btndj">Guardar</button>  <!-- submit its for specify what this is a button for the form class action -->
    </form>
</div>

<div>
    <form class="formDataMesas" action="/DBweb_muebles/buscar_mesas/" method="GET"> 
        <input type="text" name="modelo" placeholder="Modelo">
        <button type="submit" class="btn btn-primary btndj">Buscar</button>
    </form>
</div>

<div>
    {% if mesa_busqueda %}
    <ul>
        {% for x in mesa_busqueda %} 
        Modelo: {{ x.modelo}}
        <p></p>
        Material: {{ x.material}}
        <p></p>
        Capacidad Personas{{ x.capacidadPersonas}}
        <p></p>
        {% endfor %}
    </ul>
    {% else %} 
    <p><h5>No se encontraron datos</h5></p>
    {% endif %}
</div>



{%endblock%}
